body {
    padding: 10px;
}

.listing {
    border: 1px solid lightgray;
    width: 90vw;
    height: 30vh;
    float: left;
    margin: 1vh;
    margin-left: 1px;
}

#listing_text {
    float: right;
    width: 15vw;
    margin-right: 50vw;
    height: 100%;
    padding-top: 10px;
    overflow-wrap: break-word;
}

#tags {
    float: left;
    text-align: center;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#tag {
    float: left;
    color: dodgerblue;
    margin: 0px;
    padding: 2%;
    padding-top: 0%;
    padding-bottom: 0%;
}


.image {
    height: 100%;
    float: left;
    margin-left: 2vw;
}