{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
        <div style="color:red;"><strong>{{ message }}</strong></div>
    {% endif %}
    <div class="full_listing">
        <h2>Listing: {{ listing.title }}</h2>
        <br>
        {% if listing.image_url %}
            <img class="full_image" src="{{ listing.image_url }}">
        {% else %}
            <h3 class="full_image">No image to display.</h3>
        {% endif %}
        <div class="description_box">
            <h6>{{ listing.description }}</h6>
            <br>
            <h3><strong>${{ listing.current_bid }}</strong></h3>
            
            {% if listing.user == user%}
                <p style="color: red;">You <strong>cannot</strong> bid on your own item.</p>
            {% elif not user %}
                <h5>To place a bid, <a href="{% url 'login' %}">Login</a></h5>
            {% else %}
                <form action="{% url 'see_listing' listing.id %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field }}
                        </div>
                    {% endfor %}        
                    <input class="btn btn-primary" type="submit" value="Place Bid">
                </form>
            {% endif %}
            <br><br>
            <h6>Posted by: <strong>{{ listing.user }}</strong></h6>

        </div>
        <br>

        {% if listing.tags %}
            <ul id="full_tags">
                {% for tag in listing.tags.all %}
                    <li id="tag">#{{ tag }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if can_edit %}
            <button class="btn btn-primary edit_btn" type="button"><a style="color: white;" href="{% url 'edit_listing' listing.id %}">Edit Listing</a></button>
        {% endif %}
    </div>
{% endblock %}