{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
        <div style="color:red;"><strong>{{ message }}</strong></div>
    {% endif %}

    <div class="full_listing">
        <h2>Listing: {{ listing.title }}</h2>
        <h3>This item has had {{ listing.num_bids }} bids.</h3>
        <br>
        {% if listing.image_url %}
            <img class="full_image" src="{{ listing.image_url }}">
        {% else %}
            <h3 class="full_image">No image to display.</h3>
        {% endif %}
        <div class="description_box">
            <h6>{{ listing.description }}</h6>
            <br>
            <h3><strong>${{ listing.start_bid }}</strong></h3>
            
            {% if listing.user == user%}
                <p style="color: yellow;">You <strong>cannot</strong> bid on your own item.</p>
            {% elif not user.is_authenticated %}
                <h5>To place a bid, <a href="{% url 'login' %}">Login</a></h5>
            {% elif listing.active %}
                <form action="{% url 'see_listing' listing.id %}" method="post">
                    {% csrf_token %}
                    {% for field in bid_form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field }}
                        </div>
                    {% endfor %}        
                    <input class="btn btn-primary" type="submit" value="Place Bid" name="bidding">
                </form>
            {% else %}
                <h3>This auction is closed.</h3>
            {% endif %}
            <br><br>
            <h6>Posted by: <strong>{{ listing.user }}</strong></h6>
        </div>
        <br>

        {% if listing.category %}
            <h5 id="category">Category: <a href="{% url 'category_listing' listing.category %}"><strong>{{ listing.category }}</strong></a></h5>
        {% endif %}

        {% if can_edit and listing.active %}
        <div class="poster-buttons">
            <form action="{% url 'edit_listing' listing.id %}" method="GET">
                {% csrf_token %}
                <input class="btn btn-primary edit_btn" type="submit" value="Edit Listing" name="edit">
            </form>
            <form action="{% url 'see_listing' listing.id %}" method="POST">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="End Auction" name="end">
            </form>
        </div>
        {% endif %}

    </div>
    <br>
    <hr>

    {% if user.is_authenticated %}
        <form action="{% url 'watchlist' %}" method="POST">
            {% csrf_token %}
            {% if listing not in user.watchlist.all %}
                <button class="btn btn-primary add-watch" type="submit" name="add" value={{listing.id}}>Add to Watchlist</button>
            {% else %}
                <button class="btn btn-primary add-watch" type="submit" name="remove" value={{listing.id}}>Remove from Watchlist</button>
            {% endif %}            
        </form>
    {% endif %}

    <h2 style="color: white;">Comments:</h2>
    {% if user.is_authenticated %}
        <form action="{% url 'see_listing' listing.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form }}
            <input class="btn btn-primary" type="submit" value="Post" name="commenting">
        </form>
    {% else %}
        <h5>To make a comment, <a href="{% url 'login' %}">Login</a></h5>
    {% endif %}
    <hr>
    {% if comments %}
        {% for comment in comments %}
            <div class="comment-text">    
                <p>Posted by: <strong>{{ comment.user }}</strong></p>
                <p>{{ comment.comment }}</p>
                <br>
                <p>{{ comment.comment_time }}</p>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <h3>There are no comments for this listing.</h3>
        <hr>
    {% endif %}
{% endblock %}